*{
    padding: 0;
    margin:0;
    width: 100%;
}

@keyframes menuAnim {
    0%{transform: translateX(0px);}
    100%{transform: translateX(10px);}
}

#menuLateral{
    margin: 0;
    padding: 5px;
    width: 15%; 
    height: 100vmax;
    background: #3C4243;
    color: white;
    min-width: 90px;
    max-width: 150px;
}

#menuLateral img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#menuLateral h4{
    text-align: center;
}
#menuLateral p{
    margin-top: 3px;
    text-align: center;
    font-size:x-small;
    color: lightgrey;
}
#menuLateral nav a{
    text-decoration: none; 
    color: white;
}
#menuLateral nav ul li{
    margin-top: 10%;
    margin-bottom: 10%;
}
#menuLateral nav ul li a:hover{
    color: #F5EB70;
    animation: menuAnim 2s infinite alternate;;
}